<%- include('partials/header'); -%>

<form>
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button type="">Sign Up</button>
</form>

<script>
  const form = document.querySelector("form");
  const emailErrors = document.querySelector(".email.error");
  const passwordErrors = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset textContent
    emailErrors.textContent = "";
    passwordErrors.textContent = "";

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);

      if (data.errors) {
        emailErrors.textContent = data.errors.email;
        passwordErrors.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('partials/footer'); -%>
